.header {
  height: 60px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid #ccc;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  height: 32px;
  margin-top: 22px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 22px;
}

.user-icon {
  font-size: 30px;
  color: black;
  padding-right: 20px;
}

.user-icon:hover {
  transform: scale(1.1);
  /* 살짝 커지는 효과 */
}