.header {
  width: 100%;
  background-color: white;
  /* 불투명 흰색 배경 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid #ccc;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  height: 40px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
}

.user-icon {
  font-size: 30px;
  color: black;
  padding-right: 20px;
}

.user-icon:hover {
  transform: scale(1.1);
  /* 살짝 커지는 효과 */
}