/* 전체 페이지 컨테이너 */
.page-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 로고 위치 동일하게 */
.top-logo {
    margin-top: 100px;
    margin-bottom: 40px;
}

.top-logo img {
    width: 120px;
    height: auto;
}

/* 폼 영역 */
.form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 문구 */
.label {
    font-size: 22px;
    font-weight: 500;
    color: black;
    margin-bottom: 30px;
    text-align: center;
}

/* 코드 입력창 */
.code-input {
    width: 250px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 30px;
    outline: none;
    background-color: #fff;
    text-align: center;
}

/* 인증확인 버튼 */
.verify-button {
    width: 250px;
    padding: 12px 0;
    background-color: #d4e2f3;
    border: 1px solid #a8c7e6;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.verify-button:hover {
    background-color: #5b72e3;
}